/* font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif; */

/* .page BLOCK */
.page {
	font-family: 'Work Sans', sans-serif;
}

.page__header,
.page__board,
.page__game,
.page__info,
.page__result {
	margin: 50px auto;
}

/* .header BLOCK */
.header {
	font-size: 60px;
	text-align: center;
}

/* .board BLOCK */
.board {
	max-width: 640px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 13px;
}

.board__side {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.board__score {
	font-size: 72px;
}

.board__player-name {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
}

/* .game BLOCK */
.game {
	max-width: 640px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .player-hands BLOCK */
.player-hands {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

/* .button BLOCK */
.button {
	width: 266px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 30px;
	border: 4px solid transparent;
	border-radius: 15px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.button__text {
	font-size: 20px;
	pointer-events: none;
}

.button--won {
	background-color: #52c41a;
}

.button--tie {
	background-color: #fadb14;
}

.button--lost {
	background-color: #f5222d;
}

.button--unselected {
	background-color: #f6f6f6;
}

.button--disable {
	pointer-events: none;
}

.button--reverse {
	color: black;
	background-color: white;
	border: 4px solid black;
	pointer-events: none;
}

.button img {
	pointer-events: none;
}

/* .info BLOCK */
.info {
	text-align: center;
	font-family: 'Playfair Display', serif;
	display: none;
	flex-direction: column;
	gap: 10px;
}

.info__text {
	font-size: 36px;
	font-weight: bold;
}

.info__subtext {
	font-size: 24px;
}

/* .result BLOCK */
.result__text {
	text-align: center;
	font-size: 72px;
	display: none;
}

/* .footer BLOCK */
.footer {
	font-family: 'Playfair Display', serif;
	width: 100%;
	height: 2.5rem;
	bottom: 0;
	position: absolute;
	text-align: center;
}
